/* Base Application Styles */
body {
  font-family: Microsoft JhengHei;
}

ul li {
  width: 50%;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px
}

.indent{
  max-width: 100%;
  position: relative;
}

.align-middle{
  position: absolute;
  top: 40vh;
  width: 100%;
}

input[type="checkbox"]{
  width: 30px; /*Desired width*/
  height: 30px; /*Desired height*/
  cursor: pointer;
  margin-top: 5px;
}

.margin-top{
  margin-top: 20px;
}

.font-setting{
  text-indent: 20px;
  line-height: 35px;
  font-size: 28px;
  letter-spacing: 1px;
}

.number-font{
  letter-spacing: 0px;
  color: red;
  margin-left: 10px;
  margin-right: 5px;
  font-size: 35px
}

.guest-table {
  border: black solid 1px;
  text-align: center;
}

.guest-table .table-inline {
  line-height: 25px
}

.guest-table .table-inline .tableNum{
  font-size: 23px;
  font-weight: bolder;
  color: white;
}

.guest-table .table-inline .current{
  font-size: 20px;
  font-weight: bolder;
  color: black;
}

.guest-table.not-full{
  background: gray;
}

.guest-table.is-full{
  background: #eb7c7c;
}
